<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asc.mapper.RoleMapper">
    <insert id="insert" parameterType="com.asc.entity.Role" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO game_role
            (role, user_id)
        VALUES
            (#{role}, #{user.id})
    </insert>

    <update id="update" parameterType="com.asc.entity.Role">
        UPDATE game_role
        SET role = #{role}
        WHERE id = #{id}
    </update>
</mapper>